body {
  margin: 0;
  padding: 0;
  font-family:  Times New Roman;
  background-color: #1c1c1c;
  color: #ffffff;
}

a {
  color: #f71515;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
